.blue-text {
    color: #448DC2; 
}

/* Custom background color using hexadecimal notation */
.blue-bg {
    background-color: #448DC2; 
}

.black-text {
    color: #393939; 
}

/* Custom background color using hexadecimal notation */
.black-bg {
    background-color: #393939; 
}